<div class="titulo"> Tienda de productos </div>
  {{ title }}
  <input type="text" [(ngModel)]="title" >


<div *ngIf="title == 'Lautaro'">
  Esto es un div
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'"> Nicolas </p>
  <p *ngSwitchCase="'lautaro'"> Lautaro </p>
  <p *ngSwitchCase="'pedro'"> Pedro </p>
  <p *ngSwitchDefault=""> No hay match</p>
</div>

<button (click)="addItem()">Agregar item</button>

<ul>
  <li *ngIf="items.length === 0"> Lista vacia</li>
  <li *ngFor="let item of items; index as i">
    {{item}} {{i}}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>
