body{
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: rgb(255, 220, 65);
  font-family: 'Anton', sans-serif;
}

.titulo{
  text-align: center;
  margin: 30px black;
  padding: 10px ;
  background-color: black;
  color: white;
  font-size: xx-large;
}


